/* Font Local */
@font-face {
    font-family: 'Neo Sans Std';
    font-style: normal;
    src: url(../font/neo-sans-std.otf) format("opentype");
}

body{
    background: #E4E4E4;
}
h1{
    font-family: 'Neo Sans Std';
    font-size: 24px;
    font-weight: bold;
    color: rgb(35, 61, 99, .87);
    text-align: center;
    margin-bottom: 1rem;
}
a.btn{
    font-family: 'Neo Sans Std';
    font-size: 14px;
    font-weight: bold;
    background: #FF7575;
    box-shadow: 0 10px 30px #FF757580;
    color: #fff;
    margin: auto;
    letter-spacing: 1px;
    padding: 10px 50px;
    border-radius: 25px;
}
.text-primary{
    color: #3D5AFE!important;
}
.slick-slide{
    outline: none;
}
.slick-prev{
    top: 40%;
    left: 25px;
    z-index: 9;
}
.slick-next{
    top: 40%;
    right: 25px;
}
.slick-next:before, .slick-prev:before{
    color: #4458A3;
    font-size: 24px;
}
.text-danger{
    color: #FF7575!important;
}
.wrapper{
    background: #FEFEFF;
    margin: auto;
    max-width: 375px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: rgb(35, 61, 99, .87);
}
.logo{
    position: absolute;
    background: url(../image/bg-logo.png);
    background-size: 100% 100%;
    background-position: center;
    width: 270px;
    height: 120px;
}
.logo .logo-textname{
    font-size: 20px;
    font-weight: bold;
}
.cover{
    padding: 5rem 16px 12rem;
    background: url(../image/bg-about.png);
    background-size: 100% 100%;
    background-position: center;
    color: #fff;
}
.cover h1{
    color: #fff;
    text-align: left;
}
.cover a{
    background: #45C4AD;
    box-shadow: 0 10px 30px #46C5AE80;
}
.rocket{
    padding: 30px 16px;
}
.rocket img{
    margin-left: -16px;
}
.rocket p{
    text-align: right;
    color: #023455;
}
.sales{
    padding: 5rem 16px 4rem;
    background: url(../image/bg-pelanggan.png);
    background-size: 100% 100%;
    background-position: center;
    color: #fff;
    text-align: center;
}
.sales h1{
    text-align: left;
    color: #fff;
}
.keunggulan{
    padding: 4rem 16px;
}
.keunggulan h1{
    color: #4458A3;
}
.keunggulan p{
    color: #00558E;
}
.manfaat{
    padding: 4rem 16px;
    background: url(../image/bg-keunggulan.png);
    background-size: 100% 100%;
    background-position: center;
    color: #fff;
    text-align: center;
}
.manfaat h1{
    color: #fff;
}
.manfaat ul li{
    background: url(../image/icon-plus.png) no-repeat left top;
    padding-left: 28px;
    margin-bottom: 10px;

}
.keuntungan{
    padding: 30px 16px;
}
.keuntungan h1{
    color: #4458A3
}
.keuntungan ul{
    display: flex;
    flex-wrap: wrap;
    margin: 0 16px;
}
.keuntungan ul li{
    flex: 0 0 50%;
    max-width: 50%;
    text-align: center;
    padding: 10px;
}
.keuntungan h4{
    color: #023455;
    font-size: 14px;
    font-weight: bold;
}
.keuntungan p{
    color: #FF7575;
    font-weight: bold;
    text-align: center;
}
.keuntungan a{
    background: #45C4AD;
    box-shadow: 0 10px 30px #45C4AD80;
}
.paket{
    padding: 2rem 16px;
}
.paket h1{
    color: #4458A3;
}
.paket .card{
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: bottom;
    margin-bottom: 4rem;
    border: none;
    box-shadow: 0 10px 30px rgb(0, 0, 0, .16);
    position: relative;
    padding: 25px 20px 5rem;
}
.paket .card h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    position: relative;
}
.paket .card h1:before{
    content: "";
    width: 10%;
    height: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    margin: auto;
    background: #FF7575;
}
.paket .card ul li{
    margin-bottom: 5px;
}
.paket .card ul.check li{
    padding-left: 1.3em;
    font-weight: 600;
    color: #233D63;
    margin-bottom: 10px;
}
.paket hr{
    width: 80%;
    margin: .5rem auto 1rem;
    border-bottom: 3px solid #FF7575;
}
.paket .card ul.check li:before{
    content: "\f00c";
    font-family: "font awesome 5 free";
    font-weight: 900;
    color: #49db6b;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
}
.paket .card .btn{
    border-radius: 23px;
    font-family: 'Neo Sans Std';
    font-weight: bold;
    letter-spacing: 1px;
    position: absolute;
    width: max-content;
    margin: auto;
    left: 0;
    right: 0;
    bottom: -20px;
}
/* Card 1 */
.paket .card.card-1{
    background-image: url(../image/Landing.png);
}
.paket .card.card-1 h1{
    color: #FF7575;
}
.paket .card.card-1 h1:before{
    background: #FF7575;
}
.paket .card.card-1 .btn{
    color: #FF7575;
    background: #fff;
    box-shadow: 0 10px 30px #FF757580;
}
/* Card 2 */
.paket .card.card-2{
    background-image: url(../image/compro.png);
}
.paket .card.card-2 h1{
    color: #4458A3;
}
.paket .card.card-2 h1:before{
    background: #4458A3;
}
.paket .card.card-2 .btn{
    color: #4458A3;
    background: #fff;
    box-shadow: 0 10px 30px #4458A380;
}
.paket .card.card-2 hr{
    border-color: #4458A3;
}
/* Card 3 */
.paket .card.card-3{
    background-image: url(../image/olshop.png);
}
.paket .card.card-3 h1{
    color: #45C4AD;
}
.paket .card.card-3 h1:before{
    background: #45C4AD;
}
.paket .card.card-3 .btn{
    color: #45C4AD;
    background: #fff;
    box-shadow: 0 10px 30px #45C4AD80;
}
.paket .card.card-3 hr{
    border-color: #45C4AD;
}
.portofolio{
    background: url(../image/bg-portopolio.png);
    background-size: 100% 100%;
    background-position: center;
    padding: 30px 16px;
}
.portofolio .item{
    background-repeat: no-repeat;
    height: 150px;
    padding: 20px;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin-bottom: 5px;
}
.portofolio a{
    font-weight: 600;
    color: #fff;
    position: relative;
    z-index: 2;
    padding: .25rem .5rem;
    text-decoration: none;
}
.portofolio a:before{
    content: "";
    width: 30%;
    top: 0;
    left: 0;
    right: 0;
    height: 25px;
    z-index: -1;
    position: absolute;
    background: #4458A3;
    border-radius: 100px;
    transition: all .5s
}
.portofolio a:hover:before {
    width: 100%;
}
.portofolio button{
    border-radius: 23px;
    font-family: 'Neo Sans Std';
    font-weight: bold;
    letter-spacing: 1px;
    color: #4458A3;
    background: #fff;
    box-shadow: 0 10px 30px #4458A3;
}
.testimoni{
    padding: 30px 16px;
}
.testimoni img{
    margin: auto;
    margin-bottom: 10px;
}
.testimoni .slick-testimoni .fa{
    color: #FFC02F;
}
.testimoni .slick-testimoni h4{
    color: #FF7575;
    font-family: 'Neo Sans Std';
    font-size: 14px;
    font-weight: bold;
}
.testimoni .slick-testimoni p{
    padding: 1em;
    color: #00558E;
}
.testimoni .card{
    background: url(../image/olshop.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 15px;
    border: none;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 1rem .3rem 6rem;
    color: #45C4AD;
}
.testimoni .card .title{
    /* margin-bottom: 1px; */
    font-weight: bold;
    position: relative;
}
.testimoni .card .title:before{
    content: "";
    width: 20%;
    height: 4px;
    position: absolute;
    top: 22px;
    left: 0;
    right: 0;
    margin: auto;
    background: #45C4AD;
}
.copyright{
    padding: 2rem 16px;
    text-align: center;
    color: #fff;
    background: url(../image/bg-footer.png);
    background-size: cover;
    background-position: center;
}